name: checks

on: [push, pull_request]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java 11 setup
        uses: olafurpg/setup-scala@v12
        with:
          java-version: graalvm-ce-java11@21.0.0
      - run: sbt "; scalafmtCheckAll; scalafmtSbtCheck" "; scalafixEnable; scalafixAll --check"
  scalafix-rules:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java 11 setup
        uses: olafurpg/setup-scala@v12
        with:
          java-version: graalvm-ce-java11@21.0.0
      - run: "cd scalafix; sbt test"
  mimaReport:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java ${{matrix.java}} setup
        uses: olafurpg/setup-scala@v12
        with:
          java-version: ${{matrix.java}}
      - run: sbt "++${{matrix.scala}} mimaReportBinaryIssues"
    strategy:
      matrix:
        java:
          - graalvm-ce-java11@21.0.0
        scala:
          - 2.12.14
          - 2.13.6
