name: it-tests

env:
  GOOGLE_PROJECT_ID: data-integration-test

on:
  push:
    branches:
      - main

jobs:
  it-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java 11 setup
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: set JVM opts
        run: scripts/gha_setup.sh
      - run: sbt "++${{matrix.scala}} IntegrationTest/test"
    strategy:
      matrix:
        java:
          - 8
          - 11
        scala:
          - 2.12.17
          - 2.13.8
        exclude:
          - scala: 2.12.17
            java: graalvm-ce-java8@21.0.0

  build-docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3
      - uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: Cache SBT
        uses: coursier/cache-action@v6
      - name: Java 11 setup
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup project
        run: scripts/gha_setup.sh
      - name: Build documentation
        run: sbt site/makeSite
