name: it-tests

env:
  ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
  GOOGLE_APPLICATION_CREDENTIALS: scripts/gha-it.json
  GOOGLE_PROJECT_ID: data-integration-test

on:
  push:
    branches:
      - main

jobs:
  it-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.5
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java 11 setup
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Setup project
        run: scripts/gha_setup.sh
      - run: sbt "++${{matrix.scala}} it:test"
    strategy:
      matrix:
        java:
          - 8
          - 11
        scala:
          - 2.12.15
          - 2.13.7
        exclude:
          - scala: 2.12.15
            java: graalvm-ce-java8@21.0.0

  build-docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v2.3.5
      - name: Cache SBT
        uses: coursier/cache-action@v6
      - name: Java 11 setup
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Setup project
        run: scripts/gha_setup.sh
      - name: Build documentation
        run: sbt site/makeSite
