name: populate-integration-test-data

env:
  GOOGLE_PROJECT_ID: data-integration-test

on:
  workflow_dispatch # Manually triggered
jobs:
  populate-integration-test-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: data-integration-test
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java setup
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: set JVM opts
        run: scripts/gha_setup.sh
      - name: Temporarily remove conflicting Scala classes # some IT test classes won't compile because they depend on macros based on test data that's missing
        run: find scio-google-cloud-platform/src/it/scala/com/spotify/scio/bigquery -type f ! -name 'PopulateTestData.scala' -delete
      - name: Populate BQ test data
        run: sbt "scio-google-cloud-platform/IntegrationTest/runMain com.spotify.scio.bigquery.PopulateTestData"
      - name: Populate GCS test data
        run: sbt "scio-test/IntegrationTest/runMain com.spotify.scio.PopulateTestData"
