name: populate-integration-test-data

on:
  workflow_dispatch # Manually triggered

jobs:
  populate-integration-test-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
          export_environment_variables: true
          create_credentials_file: true
      - uses: google-github-actions/setup-gcloud@v2
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java 11 setup
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
      - name: set JVM opts
        run: scripts/gha_setup.sh
        env:
          CLOUDSQL_SQLSERVER_PASSWORD: ${{ secrets.CLOUDSQL_SQLSERVER_PASSWORD }}
      - name: Temporarily remove conflicting Scala classes # some IT test classes won't compile because they depend on macros based on test data that's missing
        run: find integration/src/test/scala/com/spotify/scio/bigquery -type f ! -name 'PopulateTestData.scala' -delete
      - name: Populate BQ test data
        run: sbt "integration/Test/runMain com.spotify.scio.bigquery.PopulateTestData"
      - name: Populate GCS test data
        run: sbt "integration/Test/runMain com.spotify.scio.PopulateTestData"
