name: pre-release-check

env:
  GOOGLE_PROJECT_ID: data-integration-test
  SBT_OPTS: -DbeamRunners=DataflowRunner

on:
  workflow_dispatch # Manually triggered
jobs:
  test-dataflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java setup
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: set JVM opts
        run: scripts/gha_setup.sh
      - name: Run Dataflow jobs
        run: sbt ${{ env.SBT_OPTS }} "scio-examples/IntegrationTest/runMain com.spotify.scio.examples.RunPreReleaseIT --runId=${{ github.run_id }}"
