name: tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java ${{matrix.java}} setup
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
      - if: ${{ !matrix.coverage }}
        run: sbt ${{matrix.java_opts}} "++${{matrix.scala}} test"
      - if: ${{ matrix.coverage }}
        run: |
          sbt ${{matrix.java_opts}} coverage "++${{matrix.scala}} test" coverageReport
          bash <(curl -s https://codecov.io/bash)
    strategy:
      matrix:
        java:
          - 8
          - 11
          - 17
        scala:
          - 2.12.17
          - 2.13.8
        include:
          - scala: 2.13.8
            java: 11
            coverage: true
          - java: 17
            java_opts: '-J--add-opens=java.base/java.util=ALL-UNNAMED -J--add-opens=java.base/java.lang.invoke=ALL-UNNAMED'
          - java: 11
            java_opts: ''
          - java: 8
            java_opts: ''
        exclude:
          - scala: 2.12.17
            java: 8
  repl-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java ${{matrix.java}} setup
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
      - run: ./scripts/ci_repl.sh
        env:
          SCALA_VERSION: ${{ matrix.scala }}
    strategy:
      matrix:
        java:
          - 11
        scala:
          - 2.12.17
          - 2.13.8
