name: tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java ${{matrix.java}} setup
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
      - if: ${{ !matrix.coverage }}
        run: sbt "++${{matrix.scala}} test"
      - if: ${{ matrix.coverage }}
        run: |
          sbt coverage "++${{matrix.scala}} test" coverageReport
          bash <(curl -s https://codecov.io/bash)
    strategy:
      matrix:
        java:
          - 8
          - 11
        scala:
          - 2.12.15
          - 2.13.7
        include:
          - scala: 2.13.8
            java: 11
            coverage: true
        exclude:
          - scala: 2.12.15
            java: 8
  repl-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: cache SBT
        uses: coursier/cache-action@v6
      - name: Java ${{matrix.java}} setup
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
      - run: ./scripts/ci_repl.sh
        env:
          SCALA_VERSION: ${{ matrix.scala }}
    strategy:
      matrix:
        java:
          - 11
        scala:
          - 2.12.15
          - 2.13.7
